<template>
    <footer>
        <p id="notice">Copyright © Joëlle Ubink</p>
    </footer>
</template>
<script>
export default {
}
</script>
<style lang="scss">

footer{
   background: rgba(0,0,0,0.6);
   padding:1em;
   margin-top:1em;
   flex-shrink: 0;
   display:flex;
   text-align:center;
   justify-content:center;
   box-shadow: 0em 0em 0.1em 0.1em rgba(0,0,0,0.6);
}

footer > p{
    color:rgba(255, 255, 255, 0.75);
    margin:0 auto;
}
</style>
