<template>
  <div id="topnav">
    <b-navbar toggleable="lg" type="dark" variant="dark" >
      <b-navbar-brand href="/">
        <img src="@/static/android-chrome-192x192.png" class="d-inline-block align-top" width="32px" height="32px" alt="logo"/>
        Floof Digital Media
        </b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item href="/">Home</b-nav-item>
          <b-nav-item href="/projects">Projects</b-nav-item>
          <b-nav-item href="/blog">Blog</b-nav-item>
          <b-nav-item href="/contact">Contact</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>
<script>
export default {
}
</script>
<style lang="scss">
  #topnav{
    flex-shrink: 0;
    height: auto;
    margin-bottom: 1em;
    box-shadow: 0em 0em 0.1em 0.1em rgba(0,0,0,0.6);
  }
</style>
