<template>
  <div class="site">
    <pageheader></pageheader>
    <div id="bgGradientWrap">
      <svg id="bgGradient">
        <defs>
          <filter id="blur">
            <feGaussianBlur stdDeviation="5" />
          </filter>
          <radialGradient id="grad1">
            <stop offset="0%" stop-color="hsla(188, 93%, 20%, 0.9)"/>
            <stop offset="70%" stop-color="hsla(188, 93%, 20%, 0)"/>
          </radialGradient>
          <radialGradient id="grad2">
            <stop offset="0%" stop-color="hsla(151, 80%, 20%, 0.9)"/>
            <stop offset="70%" stop-color="hsla(151, 80%, 20%, 0)"/>
          </radialGradient>
          <radialGradient id="grad3">
            <stop offset="0%" stop-color="hsla(283, 100%, 20%, 0.9)"/>
            <stop offset="70%" stop-color="hsla(283, 100%, 20%, 0)"/>
          </radialGradient>
        </defs>
       <circle id="circle1" cx="0%" cy="100%" r="85%" fill="url(#grad1)" />
       <circle id="circle2" cx="100%" cy="100%" r="85%" fill="url(#grad2)"/>
       <circle id="circle3" cx="50%" cy="0%" r="85%" fill="url(#grad3)"/>
      </svg>
    </div>
    <main>
    <Nuxt />
    </main>
    <pagefooter></pagefooter>
  </div>
</template>


<script>
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import _slug from '@/pages/_slug'
export default {
  components: {
    pageheader: Header,
    pagefooter: Footer,
    blogcontent: _slug
  },
}
</script>

<style lang="scss">
  @import "../custom/default.scss"
</style>
