$dark: rgba(0,0,0,0.6);
$size: 100%;

@import '../node_modules/bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
@import '../node_modules/bootstrap-vue/src/index.scss';
html {
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: auto 100%;
  display: flex;
}

#maindiv{
  background-color:rgba(10,10,10,0.9);
  border-radius: 0.8em;
  height:100%;
  
}

.boxshadow{
  box-shadow:  0em 0em  0.6em 0.4em rgba(0, 0, 0, 0.8);
}

#topnav{
  background-color: transparent;
}

body{
  display: flex;
  flex-direction: column;
  background-color: hsla(151, 70%, 15%, 0);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
}
#bgGradientWrap{
  position:fixed;
    left:0;top:0;right:0;bottom:0;
    overflow: hidden;
    z-index:-1;
}
#bgGradient{
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: hsla(151, 70%, 15%, 1);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  box-sizing: border-box;
  
}

#circle1{
  animation: cricle1path 90s ease-in-out infinite;
  filter: url(#blur);
}

#circle2{
  animation: cricle2path 90s ease-in-out infinite;
  filter: url(#blur);
}

#circle3{
  animation: cricle3path 90s ease-in-out infinite;
  filter: url(#blur);
}

@keyframes cricle1path{
  0%{
    cx: 0%;
    cy: 100%;
  }
  18.5%{
    cx: 50%;
    cy: 0%;
  }
  33%{
    cx: 50%;
    cy: 0%;
  }
  49.5%{   
    cx: 100%;
    cy: 100%;
  }
  66%{
    cx: 100%;
    cy: 100%;
  }
  83%{
    cx: 0%;
    cy: 100%;
  }
  100%{
    cx: 0%;
    cy: 100%;
  }
  
}

@keyframes cricle2path{
  0%{
    cx: 100%;
    cy: 100%;
  }
  18.5%{
    cx: 0%;
    cy: 100%;
  }
  33%{
    cx: 0%;
    cy: 100%;
  }
  49.5%{
    cx: 50%;
    cy: 0%;
  }
  66%{
    cx: 50%;
    cy: 0%;
  }
  83%{
    cx: 100%;
    cy: 100%;
  }
  100%{
    cx: 100%;
    cy: 100%;
  }
}

@keyframes cricle3path{
  0%{
    cx: 50%;
    cy: 0%;
  }
  18.5%{
    cx: 100%;
    cy: 100%;
  }
  33%{
    cx: 100%;
    cy: 100%;
  }

  49.5%{
    cx: 0%;
    cy: 100%;
  }
  66%{
    cx: 0%;
    cy: 100%;
  }
  83%{
    cx: 50%;
    cy: 0%;
  }
  100%{
    cx: 50%;
    cy: 0%;
  }
}

.itemcontainer{
  min-height: 100px;
  max-height: 500em;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  text-align:center;
  transform: scale(1);
  background-color:rgba(10,10,10,0.9);
  z-index: 88;
  border-radius: 0.8em;
}

.itemcontainer > div > a{
  font-size:2em;
}

.itemlink, .itemdescription{
  color:hsla(151, 70%, 20%, 1);
  margin-left:1em;
  justify-content:start;
  align-self: flex-start;
}


.itemlink:hover{
  color:rgb(30, 167, 101);
  text-decoration: none;
}

.itemlink:active{
  color:hsla(151, 70%, 35%, 1);
  text-decoration: none;
}

.itemlink:visited{
  color:rgb(22, 126, 75);
  text-decoration: none;
}

.preview{
  max-width: 20%;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}
.preview > *{
  max-width: 100%;
}
.hidden-preview{
  display:none;
}

.itemdescription{
  margin-left: 4em;
  color:lightgrey;
}

.blogpost{
  color:white;
}

.nuxt-content{
  margin: auto;
  margin-top: 1em;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 0.8em;
}

.nuxt-content > *{
    margin-left: 2em;
    margin-right: 2em;
}

.nuxt-content > * > a, .nuxt-content > a {
  color:hsla(151, 70%, 35%, 1);
  text-decoration: none;
}

.nuxt-content > * > a:hover, .nuxt-content > a:hover{
  color:rgb(35, 173, 106);
  text-decoration: none;
}

.nuxt-content > * > a:visited, .nuxt-content > a:visited{
  color:rgb(28, 139, 85);
  text-decoration: none;
}
.nuxt-content > * > a:active, .nuxt-content > a:active{
  color:rgb(39, 209, 127);
  text-decoration: none;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-5-5 13:54:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-flicker-in-glow
 * ----------------------------------------
 */
@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}



.text-flicker-in-glow {
	-webkit-animation: text-flicker-in-glow 4s both;
	        animation: text-flicker-in-glow 4s both;
}

@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}


body, html, #__nuxt, #__layout, .site{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.textcontainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}


main{
  flex:1;
  margin-top: 1em;
  margin-bottom:1em;
}