<template>
  <div class="site">
    <b-container id="maindiv" class="blogpost">
      <h2 v-if="(post.title === 'index') || (post.title === 'about')" ></h2>
      <h2 v-else>{{ post.title }}</h2>
      <p v-if="(post.title === 'index') || (post.title === 'about')"></p>
      <p v-else>Article last updated: {{ formatDate(post.updatedAt) }}</p>
      <nuxt-content :document="post" />
      <br/>
    </b-container>
  </div>
</template>

<script>
export default {
  layout:'default',
  async asyncData({ $content, params, error }) {
    let post;
    // I hate I have to do this. Not the best solution, but nuxt/content forced my hand.
    try {
      post = await $content("standard", params.slug).fetch();
      // OR const article = await $content(`articles/${params.slug}`).fetch()
    } catch (e) {
      try{
        post = await $content("projects", params.slug).fetch();
      }
      catch(e){
        try{
          post = await $content("blog", params.slug).fetch();
        }
        catch(e){
          error({ message: "Blog Post not found" });
        }
      }
    }
    return {
      post,
    };
  },
  methods: {
    formatDate(date) {
      const options = { year: 'numeric', month: 'long', day: 'numeric' }
      return new Date(date).toLocaleDateString('en', options)
    }
  }
};
</script>


<style lang="scss">
  .blogpost{
    color:white;
  }
  .blogpost > h2{
    margin-top: 0.5em;
    margin-bottom:1em;
  }

  .smallerimage{
    max-width: 50%;
  }
  
  


</style>
