<template>
  <div class="site">
        <li v-for="(post) of posts" :key="post.slug">
            <b-container v-if="(post.title === 'index')" />
            <b-container v-else-if="(post.title === 'about')"/>
            <b-container v-else 
            class="itemcontainer">
                <b-img fluid class="preview" :src="post.img" alt=""></b-img>
                <div class="textcontainer">
                    <NuxtLink class="itemlink" :to="'/' + post.slug">{{ post.title }}</NuxtLink>
                    <p class="itemdescription">{{post.description}}</p>
                </div>
            </b-container>
        </li>
  </div>
</template>

<script>
import Header from '@/components/Header'
import Footer from '@/components/Footer'
export default {
    layout: 'default',
    async asyncData({ $content }) {
        const posts = await $content('blog').sortBy('createdAt', 'desc').fetch();
        return {
        posts,
        };
    },
    components: {
    pageheader: Header,
    pagefooter: Footer,
    },
}
</script>


<style lang="scss">

    .site > li{
        margin-top:1em;
        margin-bottom:1em;
    }

    @keyframes fadeinlist {
    from {
        opacity:0; transform: (translate( 0px, -2em));
    }
    to {
        opacity:1; transform: (translate( 0px, 0px));
    }
    
}

</style>