<template>
    <div class="site">
        <b-container id="maindiv" class="blogpost">
            <nuxt-content :document="doc"/>
            <br/>
        </b-container>
    </div>
</template>

<script>
export default {
    layout: 'default',
    async asyncData({$content, params}){
        const doc = await $content('standard', params.slug || 'index').fetch();
        return { doc }
    }
}
</script>

<style lang="scss">
  .blogpost{
    color:white;
  }
  .blogpost > h2{
    margin-bottom:1em;
  }


</style>